
.product-list {
    background-color: whitesmoke;
    width: 100%;
}

.page-contents {
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

.product-block {
    padding: 10px;        
    display: inline-block;   
}

.text-center {
    text-align: center;
}