
.shopping-cart {
    background-color: whitesmoke;
    width: 100%;
}

.page-contents {
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-field-container > * {
    width: 100%;
}
 
.add-batch {
    text-align: right;
    margin: 10px;
}
  
td, th {
    width: 35%;
}

.product-img {
    width: 100px;
    border-radius: 20px;
}