<mat-card>

  <div class="spc-30"></div>

  <mat-tab-group mat-stretch-tabs>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color="primary">verified_user</mat-icon> &nbsp;
        Check Out (Complete client required information)
      </ng-template>
    </mat-tab>

  </mat-tab-group>

  
  <div class="spc-20"></div>

  <!-- <pre>{{ checkOutDetails | json }}</pre> -->

  <form #f="ngForm">

    <div class="form-field-container">
  
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="client.displayName" name="displayName" placeholder="Enter client surname, firstname & othernames" required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>
          Client name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="client.email" name="email" placeholder="Enter client email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="client.phoneNumber" name="phoneNumber" placeholder="Enter client phone number(s)" required>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error>
          Client phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>

    <div class="spc-5"></div>
    <h3 style="padding-bottom:0;"> Transaction Details</h3>

    <mat-form-field appearance="outline">
      <mat-label>Transaction Type</mat-label>
      <input matInput [(ngModel)]="checkOutTransactionInfo.transactionType" name="transactionType" disabled>
      <mat-error>
        Transaction type is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount Paid (Ghc)</mat-label>
      <input type="number" matInput [(ngModel)]="checkOutTransactionInfo.amountPaid" 
        name="amountPaid" placeholder="Enter Amount Paid">
      <mat-icon matSuffix>moneytization_on</mat-icon>
    </mat-form-field>

    <div>
      <p *ngIf="cart.length > 0">
        Outstanding Bill -- {{ getOutStandingPayment() }}
      </p>
    </div>

    <mat-action-row>
      <button mat-raised-button type="button" color="primary" (click)="placeOrder()" [disabled]="!f.valid || cart.length < 1 || getOutStandingPayment() !== 0">Place Order</button>
    </mat-action-row>
  </form>
  
    <div class="spc-10"></div>
  
    <mat-accordion class="example-headers-align">
            
      <mat-expansion-panel expanded opened hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cart Information
          </mat-panel-title>
          <mat-panel-description>
            Product Details
            <mat-icon>shopping_cart</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <app-shopping-cart [hideControls]="true"></app-shopping-cart>          
                
      </mat-expansion-panel>
      
    </mat-accordion>

</mat-card>

