@import url('https://fonts.googleapis.com/css?family=Catamaran:400,900|Cormorant+Garamond');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/circles/circles-dark-theme';
// @import '~@ngx-share/button/styles/themes/modern/modern-light-theme';

@import "~@angular/material/prebuilt-themes/indigo-pink";

html, body, app-root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0; 
    background: #f2f2f2;
    font-family: 'Catamaran', 'Roboto', sans-serif !important;  
    /* height: 100vh; */
    overflow: hidden;
    margin:0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.spc-5 {
    padding: 5px;
}
.spc-10 {
    padding: 10px;
}

.spc-20 {
    padding: 20px;
}

.spc-30 {
    padding: 20px;
}

// wait loader
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
